/* FONT */
@font-face {
    font-family: "NeueMachina";
    src: url("./assets/fonts/NeueMachina-Regular.ttf") format("truetype");
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NeueMachina", sans-serif;
}

body {
  background: #edf0f2;
  width: 100%;
}

/* --------------------- PAGE 1 --------------------- */
.page1 {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  min-height: 100vh;
}

.left-box {
  width: 50%;
}

.title {
  color: #42210b;
  font-size: 64px;
  line-height: 1.05;
  margin-bottom: 40px;
}

/* INPUT */
.input-group {
  margin-bottom: 24px;
}

.input-group label {
  color: #42210b;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 20px;
  border: none;
  background: #e6e6e6;
  color: #42210b;
  font-size: 18px;
}

/* START BUTTON */
.start-btn {
  margin-top: 10px;
  padding: 14px 40px;
  background: #42210b;
  color: #e6e6e6;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 30%;
}

.start-btn:hover {
  opacity: 0.8;
}

/* RIGHT IMAGE */
.right-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  width: 80%;
  max-width: 500px;
}

/* --------------------- PAGE 2 --------------------- */

.page2 {
  padding: 40px 40px;
  min-height: 100vh;
  position: relative;
}

/* DECOR IMAGES */
.decor-img-top {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 160px;
}

.decor-img-left {
  position: absolute;
  left: 20px;
  top: 320px;
  width: 150px;
}

/* WEBCAM BOX */
.webcam-box {
  width: 70%;
  height: 420px;
  border: 4px solid #42210b;
  border-radius: 28px;
  background: #42210b;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 95%;
  height: 90%;
  background: #000;
  border-radius: 22px;
}

/* QUESTION TITLE */
.question {
  margin-top: 20px;
  font-size: 28px;
  color: #42210b;
  text-align: center;
}

/* BUTTON ROW */
.button-row {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-row button {
  background: #42210b;
  color: #e6e6e6;
  padding: 12px 26px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#status-text {
  text-align: center;
  margin-top: 12px;
  color: #42210b;
}
